body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2a2a2a, #1c1c1c);
    color: #e0e0e0;
    line-height: 1.6;
}

header {
    text-align: center;
    margin: 20px 0;
    margin-top: 80px; /* Увеличенный отступ сверху для отделения от логотипа */
}

h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Логотип */
.logo-link {
    position: absolute;
    top: 20px;
    left: 20px;
}

.static-logo {
    width: 30px; /* Уменьшаем размер логотипа */
    border-radius: 8px;
    transition: background 0.3s ease;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
}

.static-logo:hover {
    background: rgba(0, 128, 0, 0.8); /* Зеленый цвет при наведении */
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(50, 50, 50, 0.8); /* Затемнённый фон */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.news {
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin: 15px 0 5px 0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: 20px;
}

.buttonbottom {
    margin: 10px 0;
}

.buttonbottom a {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0, 128, 0, 0.8); /* Зеленый цвет */
    color: #ffffff; /* Белый текст */
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.buttonbottom a:hover {
    background: rgba(0, 128, 0, 1); /* Более насыщенный зеленый при наведении */
    transform: translateY(-2px);
}
